/* $blue: "primary.500" */

/* fontFamily="Bodoni" */

.slider .slider-img {
  height: 450px;
  /* object-fit: cover; */
}

.slider .no-img {
  height: 450px;
}

#root {
  background-color: #f6f8fb;
}

.ReactGridGallery_custom-overlay {
  transition: all 0.2s ease;
}

/* Scale the image on hover */
.ReactGridGallery_tile img {
  transition: transform 0.2s ease;
}

.ReactGridGallery_tile:hover img {
  transform: scale(1.2);
}
